<h1>Bienvenidos a la API de productos en tiempo real</h1>

<h1>Nuevo Producto</h1>

   
        <label for="title">Título:</label>
        <input type="text" id="title" name="title" required><br>

        <label for="code">Código:</label>
        <input type="text" id="code" name="code" required><br>

        <label for="price">Precio:</label>
        <input type="text" id="price" name="price" required><br>

        <label for="description">Descripción:</label>
        <textarea id="description" name="description" rows="2" required></textarea><br>

        <label for="categoria">Categoría:</label>
        <input type="text" id="categoria" name="categoria" required><br>

        <label for="stock">Stock:</label>
        <input type="text" id="stock" name="stock" required><br>
        <button onclick="guardarProducto()">Agregar Producto</button>

       
    
     


<div id="productList"></div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>
<script src="js/index.js"></script>