<h1>Bienvenidos a la API de productos en tiempo real</h1>

<div id="productList"></div>





<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>
<script src="js/index.js"></script>