body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
.producto {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}
.producto img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.producto h2 {
    color: #333;
}
.producto p {
    color: #666;
}
img{padding:10px;
    width:100px; 
    height:100px}